### Importing Required Libraries

In [48]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

### Data Exploration and Cleaning

In [49]:
df = pd.read_csv('train.csv')

In [50]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [51]:
a = pd.get_dummies(df['Gender'])
b = pd.get_dummies(df['Customer Type'])
c = pd.get_dummies(df['Type of Travel'])
d = pd.get_dummies(df['Class'])

In [52]:
frames = [df, a, b, c, d]

df = pd.concat(frames, axis = 1)
df.head()

df = df.drop(columns = ['Gender', 'Customer Type', 'Type of Travel', 'Class', 'Arrival Delay in Minutes'])

In [53]:
df['satisfaction'].replace(['neutral or dissatisfied', 'satisfied'], [0,1], inplace = True)

## where 'neutral or dissatisfied' is 0 and 'satisfied' is 1

### Organizing Data for Training

In [83]:
y_train = df.satisfaction.values

x_data = df.drop(columns = ['Unnamed: 0', 'id', 'satisfaction'])

In [84]:
## normalizing

x_train = (x_data - np.min(x_data)) / (np.max(x_data) - np.min(x_data)).values


len(x_train.columns)

C:\Users\306student\AppData\Roaming\Python\Python310\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)
C:\Users\306student\AppData\Roaming\Python\Python310\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

26

### Building and Training Model

In [89]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape = (26,)),
    tf.keras.layers.Dense(512, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(512, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(512, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(512, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1, activation = 'softmax')
])

In [90]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=["accuracy"])

In [ ]:
history = model.fit(x_train, y_train, epochs = 500)

Epoch 1/500
3247/3247 [==============================] - 32s 10ms/step - loss: 0.2114 - accuracy: 0.4333
Epoch 2/500
3247/3247 [==============================] - 32s 10ms/step - loss: 0.1511 - accuracy: 0.4333
Epoch 3/500
3247/3247 [==============================] - 32s 10ms/step - loss: 0.1441 - accuracy: 0.4333
Epoch 4/500
3247/3247 [==============================] - 32s 10ms/step - loss: 0.1424 - accuracy: 0.4333
Epoch 5/500
3247/3247 [==============================] - 32s 10ms/step - loss: 0.1351 - accuracy: 0.4333
Epoch 6/500
3247/3247 [==============================] - 33s 10ms/step - loss: 0.1332 - accuracy: 0.4333
Epoch 7/500
3247/3247 [==============================] - 29s 9ms/step - loss: 0.1308 - accuracy: 0.4333
Epoch 8/500
3247/3247 [==============================] - 31s 9ms/step - loss: 0.1283 - accuracy: 0.4333
Epoch 9/500
3247/3247 [==============================] - 33s 10ms/step - loss: 0.1264 - accuracy: 0.4333
Epoch 10/500
3247/3247 [==============================] - 184s 57ms/step - loss: 0.1234 - accuracy: 0.4333
Epoch 11/500
3247/3247 [==============================] - 3855s 1s/step - loss: 0.1246 - accuracy: 0.4333
Epoch 12/500
3247/3247 [==============================] - 1981s 610ms/step - loss: 0.1238 - accuracy: 0.4333
Epoch 13/500
1065/3247 [========>.....................] - ETA: 33:48:52 - loss: 0.1280 - accuracy: 0.4334

ModuleNotFoundError: No module named 'network2'